* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

#input {
    width: 50%;
    justify-content: space-between;
}

.third {
    width: 33.33%;
}

.spacedcontainer {
    padding: 0 30% 0 30%;
    justify-content: space-around;
}

#cert>img {
    border: 5px black solid;
}

#cert {
    position: relative;
}

#certDisplay {
    width: 100%;
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

h1 {
    justify-content: center;
}

.formside {
    flex-flow: column wrap;
}

h3 {
    justify-content: center;
}

.floating {
    position: absolute;
}

#signatureText{ 
    right: 0;
}
#recipientText{
    top: 50%;
}
.certtext{
    font-size: 3rem;
}
@media print {
    #containform {
        display: none;
    }

    h1 {
        display: none;
    }

    .hide {
        display: none !important;
    }

    #cert {
        padding: none;
        display: flex !important;
    }

    #cert>img {
        width: 100vw !important;
        height: 100vh !important;
        border: none;
    }
}