* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

#input {
    width: 50%;
    justify-content: space-between;
}

.third {
    width: 33.33%;
}

.spacedcontainer {
    justify-content: space-around;
}

#cert>img {
    border: .5rem black solid;
}

#cert {
    position: relative;
    height: 100%;
}

#certDisplay {
    width: 50vw;
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

h1 {
    justify-content: center;
}

.formside {
    flex-flow: column wrap;
}

h3 {
    justify-content: center;
}

.floating {
    position: absolute;
}
#sigdate{
    justify-content: space-between;
    width: 100%;
}
.field{
    flex-flow: column;
    align-items: center;
}
#titleText{
    margin-bottom: 30%;
}
.field > p:first-of-type{
    justify-content: center;
    border-bottom: .2rem solid black;
    padding-bottom: .2rem;
    width: 90%;
}

#recipientField{
    width: 100%;
    margin-bottom: 20%;
}
#recipientField #nameText{
    width: 100%;
}
#certText{
    height: 100%;
    width: 40%;
    position: absolute;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
}
@media print {
    #containform {
        display: none;
    }

    h1 {
        display: none;
    }

    .hide {
        display: none !important;
    }

    #cert>img {
        width: 100vw !important;
        height: 100vh !important;
        border: none;
    }
}